h1, .h1 {
	font-family: MTCORSVA;
	color: $brand-primary;
}

h2, .h2 {
	font-family: MTCORSVA;
	font-style: italic;
	color: $brand-primary;
}

h3, .h3 {
	font-family: MTCORSVA;
}

h4, .h4 {
	font-weight: bold;
	color: $brand-primary;
}

h5, .h5 {

}

h6, .h6 {

}