@font-face {
	font-family: 'MTCORSVA';
	src: url('../fonts/MTCORSVA.eot');
	src: url('../fonts/MTCORSVA.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MTCORSVA.woff') format('woff'),
	url('../fonts/MTCORSVA.ttf') format('truetype'),
	url('../fonts/MTCORSVA.svg#MTCORSVA') format('svg');
	font-weight: normal;
	font-style: normal;
}

