<div class="row list-boxes-group equal-heights">
	<f:for each="{products}" as="product">
		<div class="col-xs-6 col-md-4 col-lg-3 equal-item">
			<div class="thumbnail">
				<f:link.action action="show" controller="Product" extensionName="WhoShop" pluginName="Product" pageUid="5" addQueryString="1" arguments="{product: product, category: category}">
					<img src="{f:uri.image(src:'{product.image.uid}' treatIdAsReference:'1')}">
				</f:link.action>
				<div class="caption">
					<div class="thumbnail-description">
						<h4>{product.title}</h4>
						<p><f:format.crop maxCharacters="50">{product.additionalInformation}</f:format.crop></p>
					</div>
				</div>
				<div class="footer">
					<div class="row">
						<div class="col-zero-6"><p class="text-left"><a href="{f:uri.action(action:'show', controller:'Product', extensionName:'WhoShop', pluginName:'Product', pageUid:'5', arguments:'{product: product, category: category}')}" class="btn btn-primary" role="button">mehr</a></p></div>
						<div class="col-zero-6"><p class="lead text-right"><f:format.currency currencySign="€" decimalSeparator="," thousandsSeparator=".">{product.price}</f:format.currency></p></div>
					</div>
				</div>
			</div>
		</div>
	</f:for>
</div>