
<div id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
	<f:cObject typoscriptObjectPath="lib.nav.mobile" />
</div>

<div class="container main-container content-wrapper">
	<f:cObject typoscriptObjectPath="lib.header" />
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
					<i class="ds-icon-bars"></i> Menü
				</button>
				<button class="visible-xs-block btn btn-primary btn-basket navbar-btn" type="button">
					<span class="hidden-xs">Warenkorb</span><span class="glyphicon glyphicon-shopping-cart visible-xs-block"></span> <span class="badge">4</span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-basket-count="">
				<f:cObject typoscriptObjectPath="lib.nav.main" />
				<f:cObject typoscriptObjectPath="lib.nav.basket" />
			</div>
		</div>
	</nav>
	<div class="row content">
		<f:if condition="{backendLayout}">
			<f:then>
				<f:render section="backendLayout_{backendLayout}" />
			</f:then>
			<f:else>
				<f:render section="backendLayout_default" />
			</f:else>
		</f:if>
	</div>
	<div class="container footer-container">
		<f:cObject typoscriptObjectPath="lib.footer" />
	</div>
</div>
<div id="loaderImage-wrapper">
	<div id="loaderImage"></div>
</div>
<script type="text/javascript">
	var cSpeed=10;
	var cWidth=64;
	var cHeight=64;
	var cTotalFrames=23;
	var cFrameWidth=64;
	var cImageSrc='typo3conf/sites/shop.dumfart-trio/assets/img/loading/719/images/sprites.png';

	var cImageTimeout=false;
	var cIndex=0;
	var cXpos=0;
	var cPreloaderTimeout=false;
	var SECONDS_BETWEEN_FRAMES=0;

	function startAnimation(){

		document.getElementById('loaderImage').style.backgroundImage='url('+cImageSrc+')';
		document.getElementById('loaderImage').style.width=cWidth+'px';
		document.getElementById('loaderImage').style.height=cHeight+'px';

		//FPS = Math.round(100/(maxSpeed+2-speed));
		FPS = Math.round(100/cSpeed);
		SECONDS_BETWEEN_FRAMES = 1 / FPS;

		cPreloaderTimeout=setTimeout('continueAnimation()', SECONDS_BETWEEN_FRAMES/1000);

	}

	function continueAnimation(){

		cXpos += cFrameWidth;
		//increase the index so we know which frame of our animation we are currently on
		cIndex += 1;

		//if our cIndex is higher than our total number of frames, we're at the end and should restart
		if (cIndex >= cTotalFrames) {
			cXpos =0;
			cIndex=0;
		}

		if(document.getElementById('loaderImage'))
			document.getElementById('loaderImage').style.backgroundPosition=(-cXpos)+'px 0';

		cPreloaderTimeout=setTimeout('continueAnimation()', SECONDS_BETWEEN_FRAMES*1000);
	}

	function stopAnimation(){//stops animation
		clearTimeout(cPreloaderTimeout);
		cPreloaderTimeout=false;
	}

	function imageLoader(s, fun)//Pre-loads the sprites image
	{
		clearTimeout(cImageTimeout);
		cImageTimeout=0;
		genImage = new Image();
		genImage.onload=function (){cImageTimeout=setTimeout(fun, 0)};
		genImage.onerror=new Function('alert(\'Could not load the image\')');
		genImage.src=s;
	}

	//The following code starts the animation
	new imageLoader(cImageSrc, 'startAnimation()');
</script>



